# Build outputs
out/

# Dependencies  
node_modules/
1inch_contracts/

# Environment files
.env
.env/
.local/

# Foundry
broadcast/

lib/
cache/
backend/lib/
# macOS
.DS_Store
**/.DS_Store
# Local Netlify folder
.netlify
