[submodule "backend/lib/openzeppelin-contracts"]
	path = backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "backend/lib/limit-order-protocol"]
	path = backend/lib/limit-order-protocol
	url = https://github.com/1inch/limit-order-protocol
[submodule "backend/lib/chainlink"]
	path = backend/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
